.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px 15px;
  margin-bottom: 50px;
}

.product{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #838383;
  margin: 20px 0;
}

.cardBlock{
}