.navbar{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}

.logo{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #101010;
}

.leftBlock{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightBlock{
  gap: 30px;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}